In [1]:
import pandas as pd

In [135]:
dataset = pd.read_csv('diet_clean.csv')

In [136]:
#print(dataset)
dataset[['Вага (грам)', 'Калорії']].astype('float32')
dataset.head()

       Дата           Назва  Вага (грам)  Калорії         Час
0  02.03.18          Гречка        200.0    178.0  Сніданок 1
1  02.03.18  Консерва рибна        230.0    506.0  Сніданок 1
2  02.03.18      Хліб білий         40.0    104.8  Сніданок 1
3  02.03.18          Яблуко        200.0    104.0  Сніданок 1
4  02.03.18             Рис        100.0    111.0        Обід

In [122]:
dataset['Дата'] = pd.to_datetime(dataset['Дата'], format='%d.%m.%y')

In [123]:
df = dataset[dataset.isnull().any(axis=1)]
print(df)
#dataset.dropna(axis=0, how='any', inplace=True)

Empty DataFrame
Columns: [Дата, Назва, Вага (грам), Калорії, Час]
Index: []

In [124]:
dataset.describe()

       Вага (грам)      Калорії
count  1124.000000  1124.000000
mean    118.517571   135.260475
std     100.016460   114.887828
min       2.000000     2.000000
25%      45.000000    58.750000
50%     100.000000   117.550000
75%     160.000000   178.000000
max     660.000000  1313.400000

In [125]:
dataset['Назва'].describe()

count           1124
unique           185
top       Хліб білий
freq              67
Name: Назва, dtype: object

In [126]:
dates = dataset.groupby('Дата')
times = dataset.groupby('Час')

In [127]:
dates['Назва'].describe(include='category')

Дата
2018-03-02  count                  13
            unique                 11
            top                Гречка
            freq                    2
2018-03-03  count                  16
            unique                 14
            top        Ікра кабачкова
            freq                    2
2018-03-04  count                  21
            unique                 17
            top           Цибуля сира
            freq                    2
2018-03-05  count                  16
            unique                 13
            top                  Яйце
            freq                    2
2018-03-06  count                  18
            unique                 16
            top                Яблуко
            freq                    2
2018-03-07  count                  18
            unique                 16
            top        Биток смажений
            freq                    2
2018-03-08  count                  17
            unique                 15
            top                Яблуко
            freq                    2
2018-03-09  count                  15
            unique                 12
                           ...
2018-05-11  top            Хліб білий
            freq                    2
2018-05-12  count                   9
            unique                  6
            top       Котлета домашня
            freq                    2
2018-05-13  count                  12
            unique                 10
            top       Котлета домашня
            freq                    2
2018-05-14  count                  12
            unique                 10
            top               Сирники
            freq                    2
2018-05-15  count                  14
            unique                 13
            top                Гречка
            freq                    2
2018-05-16  count                  11
            unique                  6
            top            Хліб білий
            freq                    3
2018-05-17  count                   6
            unique                  4
            top          Перлова каша
            freq                    2
2019-03-20  count                  17
            unique                 13
            top          Перлова каша
            freq                    3
Name: Назва, dtype: object

In [128]:
times['Назва'].describe(include='category')

Час
Вечеря      count                 430
            unique                127
            top       Сельдерей сирий
            freq                   22
Обід        count                 346
            unique                131
            top            Хліб білий
            freq                   26
Сніданок 1  count                 317
            unique                102
            top                Гречка
            freq                   31
Сніданок 2  count                  31
            unique                 24
            top             Масло 85%
            freq                    3
Name: Назва, dtype: object

In [129]:
times['Калорії'].mean()

Час
Вечеря        125.528386
Обід          142.012197
Сніданок 1    143.625577
Сніданок 2    109.356129
Name: Калорії, dtype: float64

In [130]:
times['Вага (грам)'].mean()

Час
Вечеря        117.023256
Обід          126.996387
Сніданок 1    116.552050
Сніданок 2     64.709677
Name: Вага (грам), dtype: float64

In [131]:
times['Калорії'].max()

Час
Вечеря        1313.4
Обід          1000.0
Сніданок 1     825.0
Сніданок 2     605.0
Name: Калорії, dtype: float64

In [132]:
times['Калорії'].min()

Час
Вечеря         4.50
Обід           2.00
Сніданок 1     2.00
Сніданок 2    11.22
Name: Калорії, dtype: float64

In [133]:
data = pd.read_csv('data_clean.csv')

In [134]:
data.describe()

,Weight,Calories,Proteins,Fats,Carbs,Training,My weight
count,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000
mean,1738.432692,1997.069710,110.938412,88.352099,182.042690,0.166667,89.417949
std,353.873523,239.039616,32.671256,21.762604,45.887305,0.375090,2.490592
min,518.000000,959.612000,51.751000,44.164000,60.010000,0.000000,85.700000
25%,1525.750000,1876.194750,90.491750,75.433750,157.447250,0.000000,87.125000
50%,1743.500000,1993.243750,99.980500,85.993350,186.383000,0.000000,89.000000
75%,1935.000000,2094.400000,124.170000,96.194500,204.800000,0.000000,90.875000
max,2844.000000,2865.090000,218.135000,147.242000,344.842000,1.000000,96.000000